
<h1>Navigation</h1>

		<ul>
		<li>
	        <%= form_tag '#', :method => 'get' do %>
		        	<%= text_field_tag :search, params[:search] %>
		        	<br />
		        	<%= submit_tag "Search", :name => nil %>
		    <% end %>
		</li>
		    <li><%= link_to "Home", root_path %></li>
		    <% if signed_in? %>
		        <li><%= link_to "Profile", current_user %></li>
		        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <% end %>
		    <% if signed_in? %>
		        <li><%= link_to "Sign Out", signout_path, :method => :delete %></li>
		        <li><%= link_to 'Create bookmark', new_bookmark_path %></li>
		    <% else %>
		        <li><%= link_to "Sign In", signin_path %></li>
		        <li><%= link_to "Register", register_path %></li>
		    <% end %>

		    	<li><%= link_to 'Help', '#' %></li>

		</ul>


