<!DOCTYPE html>
<html>
<head>
  <title>Juicee! | <%= @title %></title>
  <%= stylesheet_link_tag "default", "application", :cache => false %>
  <%= javascript_include_tag "application", :cache => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<div class="top">
	<span style="color: white">Juicee!</span>

	</div>

	<div class="header"></div>

	<div class="main">

		<div class="item">
			<div class="content">
				<div class="body">
				<% flash.each do |key, value| %>
				        <div class="flash <%= key %>"><%= value %></div>
                    <% end %>
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
	<div class="navigation">

		<%= render 'layouts/navigation' %>
	</div>

</div>
</body>
</html>
